@model IEnumerable<NetCandyStore.Models.GetProductsByCategoryId_Result>

@{
    ViewBag.Title = "Search Results";
}

<h2>Category: @ViewBag.CategoryDescription</h2>

<table class="table">
    <tr>
        <th>
            Item
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.displayName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.itemPrice) per @Html.DisplayFor(modelItem => item.itemPackageType) of @Html.DisplayFor(modelItem => item.quantityPerPackage)
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Add 1 " + @Html.DisplayFor(modelItem => item.itemPackageType) + " to cart", "AddToCart", "Cart", new { id = item.Id }, null)
    </td>
</tr>
}

</table>
